@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import 'Elements.css';
@import 'Dialogs.css';
@import "Bullets.css";

html {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  word-break: break-word;
  color: #dafbef;
  background-image: linear-gradient(to right, #6f0e17, #330600);
}

#root {
  height: 100%;
}

#root > div {
  height: 100%;
}

#canvas {
  display: grid;
  overflow: hidden;
  height: 100%;
  min-height: 0;
  max-height: 100%;
  padding: 1.5vh 2.5vh 2.5vh 2.5vh;
  grid-template-columns: repeat(10, minmax(0, 1fr));
  gap: 0.5rem;
  grid-template-rows: auto repeat(3, minmax(0, 1fr));
}

header {
  display: contents;
  grid-area: 1/1/2/11;
}

main {
  display: contents;
  grid-area: 2/1/5/11;
}

.canvasHeader {
  margin: 0;
}


button {
  color: #dafbef;
  border: none;
  border-radius: 0.25rem;
  background-color: rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

#canvasHeaderButtons {
  margin: auto 0 auto auto;
  grid-area: 1/7/2/11;
}

button.canvasHeader {
  height: 2rem;
  margin-left: 0.5rem;
}

#canvasTitle {
  display: inline-block;
  text-align: left;
  grid-column: 1/7;
}


i {
  opacity: 50%;
  color: lightgray;
}




